/node_modules
/.idea
/tmp
/lib/api/swagger/swagger_extension.yaml
/lib/api/swagger/swaggerEdited.yaml

.dev-server
#ignore .commitinfo created by ioBroker release script
.commitinfo
/.claude/settings.local.json
